.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.list-container {
  border: 1px solid #64748b;
  border-radius: 8px;
  margin-bottom: 10px;
}
.heading {
  font-size: 28px;
  color: #326a9d;
  font-family: 'Roboto';
}
.description {
  color: #64748b;
  font-family: 'Roboto';
}
.button {
  color: #326a9d;
  border: 1px solid #326a9d;
  background-color: transparent;
  height: 25px;
  width: 60px;
  font-weight: 500;
  font-size: 8px;
  font-family: 'Roboto';
  border-radius: 5px;
}
.text-container {
  padding: 20px;
}
